/* Write your CSS here */
.button {
  background-color: transparent;
  border-width: 0px;
  margin: 10px;
}

.active-btn {
  color: #0284c7;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  font-weight: bold;
  border-color: #0284c7;
}
